<header class="header">
    <nav>
        <ul>
            <li><a href="/Topic/Battlefield1">Battlefield 1</a></li>
            <li><a href="/Topic/Osu">Osu!</a></li>
            <li><a href="/Topic/Volleyball">Volleyball</a></li>
            <li><a href="/Topic/WorldOfTanksBlitz">World of Tanks Blitz</a></li>
        </ul>
    </nav>
</header>