<h2>Onkunde</h2>
<form asp-action="Onkunde" method="post">
    <label>
        <span>Wat zou je graag willen kunnen?</span>
        <input type="text" name="Talent" required>
    </label>
    <label>
        <span>Met welke persoon kun je goed opschieten?</span>
        <input type="text" name="Persoon" required>
    </label>
    <label>
        <span>Wat is je favoriete getal?</span>
        <input type="text" name="Getal" required>
    </label>
    <label>
        <span>Wat heb je altijd bij je als je op vakantie gaat?</span>
        <input type="text" name="VakantieSpullen" required>
    </label>
    <label>
        <span>Wat is je beste persoonlijke eigenschap?</span>
        <input type="text" name="GoedeEigenschap" required>
    </label>
    <label>
        <span>Wat is je slechtste persoonlijke eigenschap?</span>
        <input type="text" name="SlechteEigenschap" required>
    </label>
    <label>
        <span>Wat is het ergste dat je kan overkomen?</span>
        <input type="text" name="ErgsteGebeurtenis" required>
    </label>
    <button type="submit">Versturen</button>
</form>