@page "/Topic/Battlefield1"

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
    </head>
    <body>
        @await Html.PartialAsync("../Includes/Header")
        <h1>Battlefield 1</h1>
        <h4>Description</h4>
        <p>Battlefield 1 is a shooting game set in World War I. The game was released in 2016 and was made by DICE and published by Electronic Arts. You play as a soldier in large battles with lots of action.</p>
        <p>The game has different modes, such as Conquest, where you have to capture large areas, and Operations, where you play an entire battle from the war. You can use different weapons and vehicles, such as rifles, tanks, and even horses. The maps in Battlefield 1 are based on real locations from the war, such as the trenches in France and the deserts of the Middle East.</p>
        <p>In addition to multiplayer, Battlefield 1 also has a single-player mode where you play stories of different soldiers. This makes the game not only exciting but also interesting because you learn about history.</p>
        <p>What makes Battlefield 1 special is the realistic atmosphere. The explosions, smoke, and chaos make you feel like you are really in a war. The game is still played by many people and is popular because of the action and strategy involved.</p>
        <img src="~/images/Battlefield 1.jpg" alt="Battlefield 1 screenshot"/>
        @await Html.PartialAsync("../Includes/Footer")
    </body>
    
</html>