@page "/Topic/Osu"


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
    <body>
        @await Html.PartialAsync("../Includes/Header")
        <h1>Osu!</h1>
        <h4>Description</h4>
        <p>Osu! is a fast and fun rhythm game where you have to hit circles to the beat of the music. The game was created in 2007 by Dean "peppy" Herbert and has since gained many players. There are different game modes, such as Osu! Standard, Osu! Mania, Osu! Taiko, and Osu! Catch the Beat.</p>
        <p>In Osu!, you move your mouse or tablet and click at the right moments. The speed and difficulty of the levels (beatmaps) make the game challenging. Some players train for years to become faster and more precise. There is also a global leaderboard where you can see how good you are compared to others.</p>
        <p>What makes Osu! extra fun is the large community. Players create their own beatmaps and share them with others. This means there is always new music to play. Tournaments are also held where the best players in the world compete against each other.</p>
        <p>Osu! is not just a game, but also a way to improve your reaction time and sense of rhythm. It is free to play and available on PC and mobile devices.</p>
        <img src="~/images/Osu!.jpeg" alt="Osu! screenshot"/>
        @await Html.PartialAsync("../Includes/Footer")
    </body>
</html>