@page "/Topic/Volleyball"

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    </head>
    <body>
        @await Html.PartialAsync("../Includes/Header")
        <h1>VolleyBall</h1>
        <h4>Description</h4>
        <p>Volleyball is a fun and active sport that you play with a team. The goal is to hit the ball over the net and score by making the ball land on the opponent’s court. Each team consists of six players and can hit the ball up to three times before sending it over the net.</p>
        <p>There are different techniques in volleyball, such as the serve (which starts the game), the pass (to direct the ball to a teammate), and the spike (a powerful attack to score points). You can also block the ball when the opponent tries to attack.</p>
        <p>Volleyball is a fast-paced sport where teamwork is very important. Communication with teammates helps avoid mistakes and play smart. Volleyball is played indoors in a sports hall, but there is also beach volleyball, which is played on sand.</p>
        <p>Many people play volleyball as a hobby or at school. There are also professional tournaments, such as the Olympic Games and World Championships. Volleyball is an accessible sport that can be enjoyed by everyone, whether you are a beginner or an experienced player.</p>
        <img src="~/images/Volleyball.jpg" alt="Volleyball photo"/>
    </body>
    @await Html.PartialAsync("../Includes/Footer")
</html>