@page "/Topic/worldoftanksblitz"

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
@await Html.PartialAsync("../Includes/Header")
<h1>World of Tanks Blitz</h1>
<h4>Description</h4>
<p>World of Tanks Blitz is an exciting game where you fight with tanks against other players. It is a mobile and PC version of World of Tanks. You control a tank and play in teams of seven against seven. The goal is to destroy all enemy tanks or capture their base.</p>
<p>There are many different tanks in the game, such as light tanks (fast but weak), medium tanks (a good balance), heavy tanks (strong but slow), and tank destroyers (which can deal a lot of damage). Each tank has its own way of playing, so you need to think about the best strategy.</p>
<p>The battles take place on different maps, such as cities, deserts, and forests. You need to shoot, find cover, and work with your team to win. There are regular updates and events to keep the game exciting.</p>
<p>World of Tanks Blitz is free to play, but you can buy extra tanks and items. The game has a large community and even tournaments are held. Whether you are a beginner or an experienced player, there is always something new to discover.</p>
<img src="~/images/World of Tanks Blitz.jpg" alt="World of Tanks Blitz screenshot"/>
</body>
@await Html.PartialAsync("../Includes/Footer")
</html>