
@{
    ViewData["Title"] = "Home page";
}

@await Html.PartialAsync("../Includes/Header")

<main>
    <h1>Welkom op mijn dynamische pagina!</h1>
    <p>Kies een onderwerp uit het menu om meer te lezen.</p>
</main>

@await Html.PartialAsync("../Includes/Footer")